*.iml
*.log
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
.build
node_modules
.cache
debug.tsx
debug.md
assets/**/*.css
build
coverage
.vscode
yarn.lock
package-lock.json
src/*.js
src/*.map
tslint.json
tsconfig.test.json
.doc
.umi
.dumi/tmp
.dumi/tmp-test
.dumi/tmp-production
.history